    <% if notice  %>
        <div class="alert alert-success notice" role="alert">
            <%= notice %>
        </div>
    <%end %>
    <% if alert %>
        <div class="alert alert-danger alert" role="alert">
            <%= alert %>
        </div>
    <% end %>
